    <!-- Footer -->
    <footer>

		<div class="container text-center">
            <p>Copyright &copy; {{ site.footer }} 20{{ site.time | date: '%y' }}</p>
    </div>
    <!--
            <script src='/js/elevator.js'></script>

            <div class="elevator-button" align="center">Back to Top</div>

			<script>

			window.onload = function() {
			  var elevator = new Elevator({
			    element: document.querySelector('.elevator-button'),
			    mainAudio: '/audio/music.mp3'
			  });
			}
			</script>

    -->
    </footer>
