<!-- Download Section -->
<section id="projects" class="content-section text-center">
    <div class="download-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Projects</h2>

                <a href="https://www.dropbox.com/s/wytuj3yomuqsoqr/Sami%20Glasco%20-%20Resume.pdf?raw=1" target="_blank" class="btn btn-default btn-lg">PDF resume</a>
                <p></p>


                <a href="https://github.com/TheFireFerret" target="_blank" class="btn btn-default btn-lg"><i class="fa-fw"></i> <span class="network-name"><img style="width: 48px; height: 48px; margin: 0px;" src="img/GitHub-Mark-Light-64px.png" alt="GitHub Logo" /></span></a>
                <p></p>

                <a href="http://gerrymandered.net" target="_blank" class="btn btn-default btn-lg">Gerrymandered.net</a>
                <p></p>

                <a href="https://isitrainingnow.herokuapp.com" target="_blank" class="btn btn-default btn-lg">Is it Raining?</a>
                <p></p>

                <p>My photography portfolio on VSCO grid:</p>
                <a href="http://vsco.co/bokehlicious?utm_source=user_grid&utm_medium=user_website&utm_campaign=link_to_grid" target="_blank" class="btn btn-default btn-lg"><i class="fa-fw"></i> <span class="network-name"><img style="width: 48px; height: 48px; margin: 0px;" src="http://assets.vsco.co/assets/images/assets/Logo_white_48.png" alt="GitHub Logo" /></span></a>
                <p></p>
            </div>
        </div>
    </div>
</section>