    <!-- Download Section -->
    <section id="projects" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>My Projects</h2>
                    <p>My resume is available to view as a PDF:</p>

                    <a href="https://www.dropbox.com/s/f6iu85bvdonn0wc/Sami%20Glasco%20-%20Resume.pdf?raw=1" target="_blank" class="btn btn-default btn-lg">PDF resume</a>
                    <p></p>

                    <p>My photography portfolio on VSCO grid:</p>
                    <a style="display: inline-block; border: 0; text-decoration: none;" target="_blank" href="http://vsco.co/bokehlicious?utm_source=user_grid&utm_medium=user_website&utm_campaign=link_to_grid"><img style="width: 48px; height: 48px; margin: 0px;" src="http://assets.vsco.co/assets/images/assets/Logo_white_48.png" alt="VSCO Logo" /></a>
                    <p></p>
                    <p> More coming soon! </p>

                </div>
            </div>
        </div>
    </section>
