    <section id="zuzu">

        <script type="text/javascript">
            window.addEventListener('load', function() {
                fetch('https://www.instagram.com/graphql/query/?query_hash=472f257a40c653c64c666ce877d59d2b&variables={"id":"29289526446","first":5}', {mode: 'cors'})
                .then(function (response) {
                    if (response.ok) {
                        return response.json();
                    }
                    return Promise.reject(response);
                }).then(function (data) {
                    const numPosts = data['data']['user']['edge_owner_to_timeline_media']['edges'].length
                    const random = Math.floor(Math.random() * numPosts);
                    const mostRecentPost = data['data']['user']['edge_owner_to_timeline_media']['edges'][random.toString()]['node']['display_url']

                    document.getElementById("zuzu_img").src = mostRecentPost;
                })
                .catch(function (error) {
                    console.warn(error);
                    document.getElementById("zuzu_img").src = "img/zuzu.jpg";
                });

            });
        </script>

        <style>
            * {
                margin: 0;
                padding: 0;
                background: darkslategray;
            }
            .imgbox {
                display: grid;
                height: 100%;
            }
            .center-fit {
                max-width: 100%;
                max-height: 100vh;
                margin: auto;
            }
        </style>

        <a class="imgbox" href="https://www.instagram.com/zuzu.aussie/">
            <img id="zuzu_img" class="center-fit" alt="zuzu" />
        </a>

    </section>
